@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.netflix-logo{
    height:10vh;
    width:18vw;
}

.netflix-bg-container{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("net.jpg");
    background-size:cover;
    background-position:center;
    height:100vh;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 10px;
    margin:5px 0px;
}

nav button{
    border:0;
    outline:5;
    background:#db0001;
    color:#fff;
    padding:7px 20px;
    font-size:12px;
    border-radius:6px;
    margin-left:10px;
    cursor:pointer;
}
.netflix-heading{
    color:#ffffff;
    font-size:42px;
    text-align:center;
    font-family:"Roboto";
    font-weight:900;
    margin:30px
}

.netflix-paragraph{
    color:#ffffff;
    font-size:20px;
    font-family:"Roboto";
    text-align:center;
    font-weight:400;
}
.netflix-paragraph1{
    color:#ffffff;
    font-size:18px;
    font-family:"Roboto";
    text-align:center;
    font-weight:400;
}
.user-input{
    width:20vw;
    height:5vh;
    text-align:center
}

.email-signup{
    background-color:#fff;
    border-radius:8px;
    overflow:hidden;
}

.email-signup input{
    flex:1;
    border:0;
    outline:0;
    margin-left:20px;
}
.email-signup button{
    background-color:#db0001;
    border:0;
    outline:0;color:#fff;
    font-size:16px;
    cursor:pointer;
    padding:7px 40px;
}

.movies-container{
    background-color: black;
    background-size:cover;
    height:45vh;
}
.movies-image{
    height:32vh;
    width:28vw;
    border-width:2px;
}

.movies-heading{
    color:#fff;
    font-size:40px;
    font-family:"Roboto";
    margin:10px;
    padding:2px;
}
.movies-paragraph{
    color:#fff;
    font-size:20px;
    font-family:"Roboto";
    padding:2px;
}
.movie-container{
    background-color: black;
    background-size:cover;
    height:50vh;
}

.hline{
    background-color:grey;
    height:1vh;
    background-size:cover;
}
.movie1-container{
    background-color: black;
    background-size:cover;
    height:55vh;
}